@layer base {
	html {
		@apply font-sans text-450 text-gray-850 scroll-smooth;
	}

	::selection {
		@apply bg-pink-600 text-white;
	}

	a,
	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}
}
